:root {
	--grid-width: 62.5rem;
}

.container {
	width: 100%;
	max-width: var(--grid-width, 62.5rem);
	margin: auto;
	padding-right: 1rem;
	padding-left: 1rem;
}
.fit { max-width: 100%; }

.row {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
}
.row.reverse { flex-direction: row-reverse; }

.col-sm, .col-md, .col-lg,
.col-sm-1, .col-md-1, .col-lg-1,
.col-sm-2, .col-md-2, .col-lg-2,
.col-sm-3, .col-md-3, .col-lg-3,
.col-sm-4, .col-md-4, .col-lg-4,
.col-sm-5, .col-md-5, .col-lg-5,
.col-sm-6, .col-md-6, .col-lg-6,
.col-sm-7, .col-md-7, .col-lg-7,
.col-sm-8, .col-md-8, .col-lg-8,
.col-sm-9, .col-md-9, .col-lg-9,
.col-sm-10, .col-md-10, .col-lg-10,
.col-sm-11, .col-md-11, .col-lg-11,
.col-sm-12, .col-md-12, .col-lg-12 {
	box-sizing: border-box;
	flex: 0 0 auto;
	padding-right: .5rem;
	padding-left: .5rem;
}
.col-sm, .col-md, .col-lg {
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
}
.col-sm.reverse,
.col-md.reverse,
.col-lg.reverse { flex-direction: column-reverse; }


@media only screen and (min-width: 1000px) {
	.col-lg-1 { flex-basis: calc(1/12 * 100%); width: calc(1/12 * 100%); }
	.col-lg-2 { flex-basis: calc(2/12 * 100%); width: calc(2/12 * 100%); }
	.col-lg-3 { flex-basis: calc(3/12 * 100%); width: calc(3/12 * 100%); }
	.col-lg-4 { flex-basis: calc(4/12 * 100%); width: calc(4/12 * 100%); }
	.col-lg-5 { flex-basis: calc(5/12 * 100%); width: calc(5/12 * 100%); }
	.col-lg-6 { flex-basis: calc(6/12 * 100%); width: calc(6/12 * 100%); }
	.col-lg-7 { flex-basis: calc(7/12 * 100%); width: calc(7/12 * 100%); }
	.col-lg-8 { flex-basis: calc(8/12 * 100%); width: calc(8/12 * 100%); }
	.col-lg-9 { flex-basis: calc(9/12 * 100%); width: calc(9/12 * 100%); }
	.col-lg-10 { flex-basis: calc(10/12 * 100%); width: calc(10/12 * 100%); }
	.col-lg-11 { flex-basis: calc(11/12 * 100%); width: calc(11/12 * 100%); }
	.col-lg-12 { flex-basis: 100%; width: 100%; }

	.start-lg { justify-content: flex-start; }
	.center-lg { justify-content: center; }
	.end-lg { justify-content: flex-end; }
	.around-lg { justify-content: space-around; }
	.between-lg { justify-content: space-between; }

	.top-lg { align-items: flex-start; }
	.middle-lg { align-items: center; }
	.bottom-lg { align-items: flex-end; }
}

@media only screen and (max-width: 1000px) {
	.col-md-1 { flex-basis: calc(1/12 * 100%); width: calc(1/12 * 100%); }
	.col-md-2 { flex-basis: calc(2/12 * 100%); width: calc(2/12 * 100%); }
	.col-md-3 { flex-basis: calc(3/12 * 100%); width: calc(3/12 * 100%); }
	.col-md-4 { flex-basis: calc(4/12 * 100%); width: calc(4/12 * 100%); }
	.col-md-5 { flex-basis: calc(5/12 * 100%); width: calc(5/12 * 100%); }
	.col-md-6 { flex-basis: calc(6/12 * 100%); width: calc(6/12 * 100%); }
	.col-md-7 { flex-basis: calc(7/12 * 100%); width: calc(7/12 * 100%); }
	.col-md-8 { flex-basis: calc(8/12 * 100%); width: calc(8/12 * 100%); }
	.col-md-9 { flex-basis: calc(9/12 * 100%); width: calc(9/12 * 100%); }
	.col-md-10 { flex-basis: calc(10/12 * 100%); width: calc(10/12 * 100%); }
	.col-md-11 { flex-basis: calc(11/12 * 100%); width: calc(11/12 * 100%); }
	.col-md-12 { flex-basis: 100%; width: 100%; }

	.start-md { justify-content: flex-start; }
	.center-md { justify-content: center; }
	.end-md { justify-content: flex-end; }
	.around-md { justify-content: space-around; }
	.between-md { justify-content: space-between; }

	.top-md { align-items: flex-start; }
	.middle-md { align-items: center; }
	.bottom-md { align-items: flex-end; }
}

@media only screen and (max-width: 600px) {
	.col-sm-1 { flex-basis: calc(1/12 * 100%); width: calc(1/12 * 100%); }
	.col-sm-2 { flex-basis: calc(2/12 * 100%); width: calc(2/12 * 100%); }
	.col-sm-3 { flex-basis: calc(3/12 * 100%); width: calc(3/12 * 100%); }
	.col-sm-4 { flex-basis: calc(4/12 * 100%); width: calc(4/12 * 100%); }
	.col-sm-5 { flex-basis: calc(5/12 * 100%); width: calc(5/12 * 100%); }
	.col-sm-6 { flex-basis: calc(6/12 * 100%); width: calc(6/12 * 100%); }
	.col-sm-7 { flex-basis: calc(7/12 * 100%); width: calc(7/12 * 100%); }
	.col-sm-8 { flex-basis: calc(8/12 * 100%); width: calc(8/12 * 100%); }
	.col-sm-9 { flex-basis: calc(9/12 * 100%); width: calc(9/12 * 100%); }
	.col-sm-10 { flex-basis: calc(10/12 * 100%); width: calc(10/12 * 100%); }
	.col-sm-11 { flex-basis: calc(11/12 * 100%); width: calc(11/12 * 100%); }
	.col-sm-12 { flex-basis: 100%; width: 100%; }

	.start-sm { justify-content: flex-start; }
	.center-sm { justify-content: center; }
	.end-sm { justify-content: flex-end; }
	.around-sm { justify-content: space-around; }
	.between-sm { justify-content: space-between; }

	.top-sm { align-items: flex-start; }
	.middle-sm { align-items: center; }
	.bottom-sm { align-items: flex-end; }
}
